<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,900&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Registro</title>
</head>
<body>
    
    <section class="container-login full-lg-screen row">
    
        <div class="section-logo col-lg-6 p-0">
            <div class="container-logo p-0 ">
                <video class="video-section" autoplay muted loop src="img/bg1.mp4"></video>
                <div class="container-opacity position-absolute opacity-50">
                </div>
                <div class="container-project position-absolute d-flex justify-content-center align-items-center">
                    <div class="project-section col-6 rounded-4 d-flex flex-column justify-content-around">
                        <h1 class="title-project text-center p-lg-4 p-3">Proyecto 4 Login con Node.js, JWT y MySQL</h1>
                        <a class="btn btn-dark col-7 title-input mx-auto mb-2" href="">Github del Proyecto</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="section-login col-lg-6 p-0 position-relative">
    
            <div class="d-flex justify-content-center align-items-lg-center align-items-baseline pt-lg-0 pt-4 h-100">
                <form class="col-lg-8 form-template position-relative rounded-4 p-lg-5 p-3" action="/register" id="formLogin" method="POST">

                    <div class="container-icon-login w-100 text-center">
                        <img class="mb-lg-5 mb-2" src="img/login.png" alt="Login-Icon">
                    </div>
                    <div class="form-floating ">
                        <input type="text" class="form-control mb-3" id="name" name="name" placeholder="name">
                        <label class="title-input">Nombre Completo</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-3" id="user" name="user" placeholder="user">
                        <label class="title-input">Usuario</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control mb-4" id="password" name="password" placeholder="password">
                        <label class="title-input">Contraseña</label>
                    </div>
                    <!-- <div class="form-floating">
                        <input type="password" class="form-control mb-4" id="password" name="password" placeholder="password">
                        <label class="title-input">Repetir Contraseña</label>
                    </div> -->
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-primary title-input col-5 p-2" type="submit">Registrarse</button>
                        <a class="btn btn-light col-5 p-2 title-input" href="/login">Cancelar</a>
                    </div>
                    
                </form>
            </div>
    

        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert){ %>
        <script>
        swal.fire({
            title:'<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon:'<%= alertIcon %>',
            showConfirmButton : <%= showConfirmButton %>,
            timer:<%= timer %>
        }).then(()=>{
            window.location = '/<%= ruta %>'
        })
        </script> 
    <% } %> 
</body>
</html>